<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>合作伙伴平台</title>
   <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="css/mystyle.css">

    <link rel="stylesheet" type="text/css" href="css/premium.css">
    

   <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
   <script src="js/bootstrap.js" type="text/javascript"></script>
</head>

<body>
<!--顶部注释-->
<nav class="navbar navbar-default">
   <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left ">
           <img class="pull-left logo-image" alt="Brand" src="images/logo.png">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 logo">
           <p>合作伙伴平台</p>
            </div>
        </div>
        
        
        
        <div class=" pull-right navbar-r1 ">
        <div class="administator">
           <a href="#"><p class="revise">[修改信息]</p></a>
            <img class="pull-right" src="images/administrator.png"/>
     
         </div>
        
        
        <a href="#">
            <div class="navbar-r pull-right">
                <img src="images/cancel.png"/>
            </div>
        </a>

    </div>
  
</nav>
 
 
 
 
 
       
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 nav-left left">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li>
                        <a href="#">
                           首页 
                            <img  class="pull-right" src="images/index.png"></i>
                                    
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                         <img src="images/item-management.png"/>
                            项目管理
                               <img  class="pull-right dropicon" src="images/drop.png"></i>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#">报备项目</a></li>
                            <li><a href="#">报备的项目</a></li>
                            <li><a href="#">查询项目</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="./plans.html">
                         <img class="nav-icon"src="images/check-price.png"/>
                            查询报价        
                        </a>
                    </li>
 
                    <li>
                        <a href="#systemSetting2" class="nav-header collapsed" data-toggle="collapse">
                         <img src="images/oeder-list.png"/>
                            管理订单
                               <img  class="pull-right dropicon" src="images/drop.png"></i>
                        </a>
                        <ul id="systemSetting2" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#">项目订单</a></li>
                            <li><a href="#">销售订单</a></li>
                            <li><a href="#">样品订单</a></li>
                             <li><a href="#">库存订单</a></li>
                            <li><a href="#">生产订单</a></li>
                            <li><a href="#">主管审批</a></li> 
                            <li><a href="#">经理审批</a></li>
                            <li><a href="#">运营订单</a></li>
                            <li><a href="#">查询订单</a></li>                           
                        </ul>
                    </li>
 
                    <li>
                        <a href="./charts.html">
                        <img class="nav-icon" src="images/cooraporation-partner.png"/>
                            合作伙伴
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting3" class="nav-header collapsed" data-toggle="collapse">
                         <img src="images/system-maintain.png"/>
                            平台维护
                               <img  class="pull-right dropicon" src="images/drop.png"></i>
                        </a>
                        <ul id="systemSetting3" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#">角色管理</a></li>
                            <li><a href="#">用户管理</a></li>
                           
                            
                        </ul>
                    </li>
                    
                    
                    <li>
                        <a href="#systemSetting4" class="nav-header collapsed" data-toggle="collapse">
                         <img src="images/finance-management.png"/>
                         财务管理
                               <img  class="pull-right dropicon" src="images/drop.png"></i>
                        </a>
                        <ul id="systemSetting4" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="#">付款确认</a></li>
                            <li><a href="#">合同付款</a></li>
                            <li><a href="#">合同信息</a></li>
                            <li><a href="#">合同退款</a></li>
                           
                            
                        </ul>
                    </li>
 
 
                </ul>
                
                <div class="tip">
                <div class="tip1">
                    <img src="images/lable.png"/><span>贴心小提示</span>
                    <p>感谢您使用合作伙伴平台，如有问题，及时反馈给我们哦。</p>
                
                
                </div>
                </div>
                
                
            </div>
   
    
    

<!--右侧内容页-->
<div class=" col-lg-10 col-md-10 col-sm-10 col-xs-12 pull-right left1">

<div class="main-title">
<p class="title">项目管理/报备项目</p><hr class="cutline"/>
</div>
<div class="col-lg-12 col-lg-12 row">
<div class="row search">
<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>

<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>


<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>
</div>

</div>


<div class="col-lg-12 col-lg-12 row2">
<div class="row search">
<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>

<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>


<div class="col-lg-4 col-md-md col-sm-4 col-xs-12 small-width">
<div class="input-group search1">
  <span class="input-group-addon" id="sizing-addon2"><img src="images/search.png"/></span>
  <input type="text" class="form-control" placeholder="请输入产品名称" aria-describedby="sizing-addon2"> 
</div>
</div>
</div>

</div>


<div class="row btn-row  col-md-12 col-lg-12">
<button type="button" class="btn btn-info  btn-query2 pull-right">查询 </button>

</div>



<table class=" table  table-bordered query-price">
            <thead>
              <tr class="head-color">
                <th class="table-product">产品</th>
                <th class="table-product1">产品描述</th>
                <th class="table-product2">基础价格</th>
                
                
              </tr>
          </thead>
          <tbody>
            <tr>
           
              <td>
              <a  href="#">
              <img src="images/chair.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span>
              </a>           
             </td>
             
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
              
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair1.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
              
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair1.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
             
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair3.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
              
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair4.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
             <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
             
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair5.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
             <td class="price"><span>￥2000</span></td>
             
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair6.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
             
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair4.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
              
            </tr>
            <tr>
              <td><a href="#"><img src="images/chair5.png" alt="..." class="img-rounded img-responsive img-left"/><span class="wenzi">阿菲娜办公椅舒适阿菲娜公椅舒适</span></a></td>
              <td class="tab-center"><span>规格描述</span></td>
              <td class="price"><span>￥2000</span></td>
              
            </tr>
            
          </tbody>
        </table>
        
           <div class="col-lg-10 col-md-10 col-md-offset-3 bottom-distance">
            <div class="page-list">
    <ul class="pagination page-align">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">&raquo;</a></li>
        <li class="page-down"></li>       
      </ul>

    <div class="page-total" ng-show="conf.totalCount > 0">
     每页共有<select ng-model="conf.pageSize" ng-options="option for option in conf.pageSizeOptions" class="select-border">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option></select>条数据&nbsp;&nbsp;
        共<strong ng-bind="conf.numberOfPages">20</strong>页
        第<input type="number" ng-model="conf.jumpPage" ng-keyup="goPage($event)"/ class="select-border">页&nbsp;&nbsp;
        <button type="button" ng-click="goPageClick($event)" class="btn btn-default">跳转</button>
        &nbsp;&nbsp;
       
    </div>
</div>
      </div>
      



      
  
      
      
      
      
 <!-- <label style="margin-right: -105px; background: transparent;">不能编辑部分</label> 
<input style="width: 200px; text-indent: 105px; background: transparent;" /> -->
    
   
      
      
    
      
      
      
</body>
</html>
